<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title><%- title -%></title>  
</head>
<body>
  
  <section class="wrp">
		<div class="wrp__menu">
      
      <div class="wrp__logo">
        <img src="pict/logo.png" alt="logo">
      </div>
      <div class="wrp__list">
        <a href="/blog">Blog</a>
        <a href="/forum">Forum</a>
        <a href="/contacts">Contacts</a>
        <a href="/about">About</a>
      </div>
    </div>
  </section>
  

 <script src="js/test.js"></script> 
</body>
</html>