<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title><%- title -%></title>  
</head>
<body>
  
  <section class="wrp">
    
    <div class="wrp__menu">      
      <div class="wrp__logo">
        <img src="pict/logo.png" alt="logo">
      </div>
      <div class="wrp__list">
        <!-- <a href="/blog">Blog</a>
        <a href="/forum">Forum</a>
        <a href="/contacts">Contacts</a>
        <a href="/about">About</a> -->
        <input type="text" name="find" id="find" placeholder="Поиск">
      </div>
    </div>

    <div class="wrp__gpage">
      <div class="wrp__gcontent">
        <img src="pict/travel.jpg" alt="travel">
      </div>
      <div class="wrp__gentry">
        
        <div class="wrp__formlogin">
          <form action="input.js" method="POST">
            <div class="wrp__fieldsinput">
              <input type="text" name="login" placeholder="login">
              <input type="password" name="password" placeholder="password">
            </div>
            <div class="wrp__btnsinput">
              <button>Enter</button>
              <a href="">Forgot password?</a>
            </div>
          </form>          
        </div>

        <div class="wrp__formreg">
          <form action="registration.js" method="POST">
            <input type="text" name="name">
          </form>
        </div>        
      </div>
    </div>




  </section>
  

 <script src="js/test.js"></script> 
</body>
</html>