<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Test page</title>  
</head>
<body>
  
  <div class="wrp">
		<h3>Hello Node</h3>
  </div>
  

 <script src="js/test.js"></script> 
</body>
</html>