<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title><%- title -%></title>  
</head>
<body>
  
  <section class="wrp">
    
    <div class="wrp__menu">      
      <div class="wrp__logo">
        <img src="pict/pp2.png" alt="logo">
      </div>
      <div class="wrp__list">        
        <input type="text" name="find" id="find" placeholder="Поиск">
      </div>
    </div>

    <div class="wrp__gpage">
      <div class="wrp__gcontent">
        <img src="pict/travel.jpg" alt="travel">
      </div>
      <div class="wrp__gentry">
        
        <div class="wrp__formlogin">
          <form method="POST">
            <div class="wrp__fieldsinput">
              <input type="text" name="login" placeholder="login">
              <input type="password" name="password" placeholder="password">
            </div>
            <div class="wrp__btnsinput">
              <button type="submit">Enter</button>
              <a href="">Forgot password?</a>
            </div>
          </form>          
        </div>

        <div class="wrp__formreg">
          <form method="POST">
            <div class="wrp__regfields">
              <input type="text" name="regfirstname" placeholder="firstname">
              <input type="text" name="reglastname" placeholder="lastname">
              <input type="email" name="regemail" placeholder="email">
              <input type="text" name="reglogin" placeholder="login">
              <input type="password" name="regpass" placeholder="password">
              <button type="submit">registration</button>
            </div>
          </form>
        </div>        
      </div>
    </div>




  </section>
  
 
</body>
</html>