body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.body {
  box-sizing: border-box;
}
.wrp {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("/pict/bg.jpg");
}
.wrp__menu {
  border: 1px solid red;
  display: flex;
  height: 70px;
  width: 80%;
}
.wrp__logo {
  border: 1px solid red;
  display: flex;
  width: 50%;
}
.wrp__logo img {
  height: 100%;
  margin-left: 20px;
}
.wrp__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.wrp__list a {
  color: #7cdcfe;
  text-decoration: none;
  font-weight: bold;
  transition: ease-in-out 0.5s;
}
.wrp__list a:hover {
  color: #d7ba7d;
  text-decoration: underline;
  transition: ease-in-out 0.5s;
}
