@import "smart-grid.less";
@import "var.less";

.reset();



.wrp {
  //border: @border;  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("/pict/bg.jpg");  
  //background-color: @backgroundcolor;
    &__menu {
      //border: @border;
      display: flex;      
      height: 7%;
      width: 60%;
    }
    &__logo {
      //border: @border;
      display: flex;      
      align-items: center;
      width: 50%;
      img {
        //border: @border;
        height: 80%;
        margin-left: 20px;
      }
    }
    &__list {
      //border: @border;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;      
      a {
        color: @colortext;
        text-decoration: none;
        font-weight: bold;
        transition: @transition;
        &:hover {
          color: @colortextactive;
          text-decoration: underline;
          transition: @transition;
        }
      }
      input {
        height: 35%;
        width: 50%;
        border-radius: 5px;
        padding-left: 10px;
      }
    }

    &__gpage {
      //border: @border;
      display: flex;
      justify-content: center;
      height: 93%;
      width: 100%;
    }
    &__gcontent {
      //border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      img {
        border-radius: 23px;
        width: 90%;
      }
    }
    &__gentry {
      //border: @border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
    }
    &__formlogin {
      //border: @border;
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 50px 0;
      background-color: @backgroundcolor;
      border-radius: 7px;
    }
    &__fieldsinput {
      //border: @border;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 30px 0 0 0;
      input {
        width: 50%;
        height: 25px;
        margin: 15px 0;
        border-radius: 5px;
        padding-left: 10px;
      }
    }
    &__btnsinput {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      //margin: 20px 0;
      margin: 20px 0 30px 10px;
      button {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        background-color: @colorblue;
        border: none;
        outline: none;
        cursor: pointer;        
        font-weight: bold;
      }
      a {
        color: white;
        text-decoration: none;                
      }
    }
    &__formreg {
      //border: @border;
      display: flex;      
      justify-content: center;
      border-radius: 7px;
      width: 80%;
      margin: 50px 0;
      background-color: @backgroundcolor;
      form {
        //border: @border;
        width: 100%;
      }
    }
    &__regfields {
      //border: @border;
      display: flex;
      flex-direction: column;
      align-items: center;      
      input {
        width: 50%;
        height: 25px;
        margin: 15px 0;
        border-radius: 5px;
        padding-left: 10px;
      }
      input:nth-child(1) {
        margin-top: 30px;
      }
      button {
        margin: 30px 0;
        width: 50%;
        height: 40px;
        border-radius: 5px;
        background-color: @colorgreen;
        border: none;
        outline: none;
        cursor: pointer;        
        font-weight: bold;
      }
    }




}